<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :submenu, :id => @type %>">Back</a>
  </div>
  
  <h1 id="pageTitle"><%= @item.gsub("_", " ") + " " + @type %></h1>
</div>

<div class="content">
  <ul>
    <% @info.split("*").each do |info| %>
    <li>
      <div class="itemLabel" style="width:90%; float:none;">
        <%= info.strip.gsub("\n", "<br />") %>
      </div>
    </li>
    <% end %>
  </ul>
</div>