<div id="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :submenu, :id => @type %>">Back</a>
  </div>
  
  <h1 id="pageTitle"><%= @item.gsub("_", " ") + " " + @type %></h1>
</div>

<div id="content">

    <table>
      
      <tr>
        <% @info.split("*").each do |info| %>
        <td class="recordLabel"><%= info.gsub("\n", "<br />") %></td>
        <% end %>
      </tr>
      
    </table>
</div>