<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :controller => :More, :action => :index %>">Back</a>
  </div>
  
  <h1 id="pageTitle">Sponsors</h1>
</div>

<div id="content">
  <table>
    <tr>
      <% @sponsors.each do |sponsor| %>
        <td class="recordLabel"><%= link_to "#{sponsor[:name].gsub("_", " ")}", :action => :show, :id => sponsor[:name] %></td>
      <% end %>
    </tr>
  </table>
</div>