<div class="pageTitle">
  <h1>Sponsors</h1>
</div>

<div class="toolbar">
  <div class="leftItem regularButton">
    <a href="">Refresh</a>
  </div>
</div>

<div class="content">
  <ul>
    <% @sponsors.each do |sponsor| %>
    
        <li>
          <a href="<%= url_for :action => :show, :id => sponsor.object %>">
            <span class="title"><%= sponsor.name %></span><span class="disclosure_indicator"></span>
          </a>
        </li>
    
    <% end %>
  </ul>
</div>