<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :controller => :More, :action => :index %>">Back</a>
  </div>
  
  <h1 id="pageTitle">Contact OC</h1>
</div>

<div class="content">
  <ul>
    
    <li>
      <div class="itemLabel" style="width:90%; float:none;">
        This app was developed by <br />Steven Heidel.
      </div>
    </li>

    <li>
      <div class="itemLabel" style="width:90%; float:none;">
        If you find any bugs please email me at steven@jdcwest.com
      </div>
    </li>
    
    <li>
      <div class="itemLabel" style="width:90%; float:none;">
        Framework: http://rhomobile.com<br />
        Icons: http://glypish.com<br />
        Language: http://ruby-lang.org<br />
        Source: https://github.com/stevenheidel/jdcwest-rhomobile
      </div>
    </li>
    
    <li>
      <div class="itemLabel" style="width:90%; float:none;">
        In the case of a discrepency, any information presented at the event has higher precedence than anything in this app.
      </div>
    </li>

  </ul>
</div>