<div class="toolbar">
  <div class="leftItem regularButton">
    <a href="">Back</a>
  </div>
  
  <h1 id="pageTitle">Contact OC</h1>
</div>

<div class="content">
  <ul>
    
    <li>
      <div class="itemLabel" style="width:100%; float:none;">
        This app was developed by <br />Steven Heidel.
      </div>
    </li>

    <li>
      <div class="itemLabel" style="width:100%; float:none;">
        If you find any bugs please email me at steven@jdcwest.com
      </div>
    </li>

  </ul>
</div>