<div class="toolbar">
  <div class="leftItem regularButton">
    <a href="">Back</a>
  </div>
  
  <h1 id="pageTitle">Contact OC</h1>
</div>

<div class="content">
  
  <ul>
    <li>
      <div class="itemLabel">Co-Chair</div>
      <div class="itemValue">Matthew Bennett <br />(306) 280-6978<br />matthew@jdcwest.com</div>
    </li>

    <li>
      <div class="itemLabel">Co-Chair</div>
      <div class="itemValue">Stephanie Ulm <br />(306) 290-6678 <br />stephanie@jdcwest.com</div>
    </li>

    <li>
      <div class="itemLabel">VP Corporate Affairs</div>
      <div class="itemValue">Adam Stewart<br />(306) 241-7353<br />adam@jdcwest.com</div>
    </li>

    <li>
      <div class="itemLabel">Director of Corporate Affairs</div>
      <div class="itemValue">Brett Magneson <br />(306) 280-4797 <br />mangeson@jdcwest.com</div>
    </li>

    <li>
      <div class="itemLabel">Executive Vice President</div>
      <div class="itemValue">Carlene Deutscher<br />(306) 222-8352 <br />carlene@jdcwest.com</div>
    </li>

    <li>
      <div class="itemLabel">VP Academic</div>
      <div class="itemValue">Katelyn Mcauliffe<br />(306) 280-6200 <br />katelyn@jdcwest.com</div>
    </li>

    <li>
      <div class="itemLabel">VP Logistics</div>
      <div class="itemValue">Kristin Hanrieder<br />(306) 487-7871 <br />kristin@jdcwest.com</div>
    </li>

    <li>
      <div class="itemLabel">VP HR</div>
      <div class="itemValue">Tyler Webb<br />(306) 371-7324<br />webb@jdcwest.com</div>
    </li>

    <li>
      <div class="itemLabel">VP Marketing</div>
      <div class="itemValue">Sienna Huck<br />(306) 260-7160<br />sienna@jdcwest.com</div>
    </li>

    <li>
      <div class="itemLabel">VP Finance</div>
      <div class="itemValue">Brett Strutynski<br />(306) 281-3712<br />brett@jdcwest.com</div>
    </li>

    <li>
      <div class="itemLabel">VP Sport</div>
      <div class="itemValue">Marc D'Eon<br />(306) 230-8453<br />marc@jdcwest.com</div>
    </li>

    <li>
      <div class="itemLabel">VP Events</div>
      <div class="itemValue">Jamie Prefontaine<br />(306) 717-9385<br />prefontaine@jdcwest.com</div>
    </li>

    <li>
      <div class="itemLabel">Co-VP Social</div>
      <div class="itemValue">Megan Orr<br />(306) 260-6278<br />megan@jdcwest.com</div>
    </li>

    <li>
      <div class="itemLabel">Co-VP Social</div>
      <div class="itemValue">Tyler Willox<br />(306) 596-6693<br />willox@jdcwest.com</div>
    </li>

    <li>
      <div class="itemLabel">Director of Debate</div>
      <div class="itemValue">Michelle Lang<br />(306) 291-2673<br />michelle@jdcwest.com</div>
    </li>

    <li>
      <div class="itemLabel">Webmaster</div>
      <div class="itemValue">Evan Taylor<br />evan_taylor@live.ca</div>
    </li>
  </ul> 

</div>