<div class="toolbar">
  <% if System::get_property('platform') == 'Blackberry' %>
    <div class="leftItem regularButton">
      <%= link_to "Home", RhoConfig::start_path %>
    </div>
  <% end %>
  <h1 id="pageTitle">More</h1>
</div>

<div class="content">
  <ul>
    <li>
      <a href="<%= url_for :controller => :Sponsor, :action => :index %>">
        <span class="title">Sponsors</span><span class="disclosure_indicator"></span>
      </a>
    </li>

    <li>
      <a href="<%= url_for :action => :contact %>">
        <span class="title">Contact OC</span><span class="disclosure_indicator"></span>
      </a>
    </li>

    <li>
      <a href="<%= url_for :action => :about %>">
        <span class="title">About App</span><span class="disclosure_indicator"></span>
      </a>
    </li>
  </ul>
</div>