<div class="pageTitle">
  <h1>JDC West Countdown</h1>
</div>

<div class="toolbar">
  
</div>

<div class="content">

  <ul>
    <li>
      <div class="itemLabel">Days Left:</div>
      <div class="itemValue" id="countDays"></div>
    </li>
    <li>
      <div class="itemLabel">Hours Left:</div>
      <div class="itemValue" id="countHours"></div>
    </li>
    <li>
      <div class="itemLabel">Minutes Left:</div>
      <div class="itemValue" id="countMinutes"></div>
    </li>
    <li>
      <div class="itemLabel">Seconds Left:</div>
      <div class="itemValue" id="countSeconds"></div>
    </li>
    <li>
      <div class="itemLabel" id="countMessage" style="width:100%;float:none;">until JDC West 2011 begins!</div>
    </li>
  </ul>
  
</div>