<div id="toolbar">
  <h1 id="pageTitle">JDC West Menu</h1>
</div>

<div id="content">  
  <table>
    <tr>
      <td class="recordLabel">
        <a href="<%= url_for :controller => :News, :action => :index %>">News</a>
      </td>
    </tr>
    <tr>
      <td class="recordLabel">
        <a href="<%= url_for :controller => :Schedule, :action => :index %>">Schedule</a>
      </td>
    </tr>
    <tr>
      <td class="recordLabel">
        <a href="<%= url_for :controller => :More, :action => :index %>">More</a>
      </td>
    </tr>
  </table>
</div>





