<div id="pageTitle">
    <h1>JDC West Countdown</h1>
</div>

<div id="toolbar">
  
</div>

<div id="content">
    <table>
      <tr>
        <td class="recordLabel">
          <a href="<%= url_for :controller => :News, :action => :index %>">News</a>
        </td>
      </tr>
      <tr>
        <td class="recordLabel">
          <a href="<%= url_for :controller => :Schedule, :action => :index %>">News</a>
        </td>
      </tr>
      <tr>
        <td class="recordLabel">
          <a href="<%= url_for :controller => :More, :action => :index %>">News</a>
        </td>
      </tr>
    </table>
</div>





