<% if System::get_property('platform') == 'Blackberry' %>

<div id="toolbar">
  <h1 id="pageTitle">JDC West Menu</h1>
</div>

<div class="content">
  <ul>
    <li>
      <a href="<%= url_for :controller => :News, :action => :index %>">
        <span class="title">News</span><span class="disclosure_indicator"></span>
      </a>
    </li>
    <li>
      <a href="<%= url_for :controller => :Schedule, :action => :index %>">
        <span class="title">Schedule</span><span class="disclosure_indicator"></span>
      </a>
    </li>
    <li>
      <a href="<%= url_for :controller => :More, :action => :index %>">
        <span class="title">More</span><span class="disclosure_indicator"></span>
      </a>
    </li>
  </ul>
</div>

<% end %>

<script src="/app/countdown.js" type="text/javascript"></script>

<div class="toolbar">
  <h1 id="pageTitle">Countdown</h1>
</div>

<div class="content">

  <ul>
    <li>
      <div class="itemLabel">Days Left:</div>
      <div class="itemValue" id="countDays"></div>
    </li>
    <li>
      <div class="itemLabel">Hours Left:</div>
      <div class="itemValue" id="countHours"></div>
    </li>
    <li>
      <div class="itemLabel">Minutes Left:</div>
      <div class="itemValue" id="countMinutes"></div>
    </li>
    <li>
      <div class="itemLabel">Seconds Left:</div>
      <div class="itemValue" id="countSeconds"></div>
    </li>
    <li>
      <div class="itemLabel" style="width:90%; float:none;" id="countBox">
        until JDC West 2011 begins!</div>
    </li>
  </ul>
  
</div>