<div >
  <div class="toolbar">
    <h1>App name</h1>
    <a class="back" >Button</a>
    <a class="add slideup" id="newMessageLink" href="#page3">+</a>
  </div>
  <ul class="rounded">
    <li class="arrow"><a href="#page">Link 1</a></li>
    <li class="arrow"><a href="#page1">Link 2</a></li>
  </ul>
</div>

<div id="page">
  <div class="toolbar">
    <h1>Header 1</h1>
    <a class="back" href="#">Home</a>
  </div>

  <ul class="rounded">
    <li class="arrow"><a href="#">Item 1</a></li>
    <li class="arrow"><a href="#">Item 2</a></li>
    <li class="arrow"><a href="#">Item 3</a></li>
  </ul>
</div>

<div id="page1">
  <div class="toolbar">
    <h1>Header 2</h1>
    <a class="back" href="#">Home</a>
  </div>

  <ul class="rounded">
    <li class="arrow"><a href="#edge">Item 1</a></li>
    <li class="arrow"><a href="#plastic">Item 2</a></li>
    <li class="arrow"><a href="#metal">Item 3</a></li>
  </ul>
  <h2>Subtitle</h2>
  <ul class="rounded">
    <li class="arrow"><a href="#forms">Item 1</a></li>
  </ul>
</div>

<div id="page3">
  <div class="toolbar">
    <h1>Header 3</h1>
    <a class="back" href="#">Back</a>
  </div>

  <ul class="rounded">
    <li class="arrow"><a href="#edge">Item 1</a></li>
    <li class="arrow"><a href="#edge">Item 2</a></li>
    <li class="arrow"><a href="#edge">Item 3</a></li>
    <li class="arrow"><a href="#edge">Item 4</a></li>
    <li class="arrow"><a href="#edge">Item 5</a></li>
    <li class="arrow"><a href="#edge">Item 6</a></li>
  </ul>
  <div class="info">
    <p><strong>Koombea</strong></p>
  </div>
</div>