<div class="toolbar">
  <% if System::get_property('platform') == 'Blackberry' %>
    <div class="leftItem regularButton">
      <%= link_to "Home", RhoConfig::start_path %>
    </div>
  <% end %>
  
  <h1 id="pageTitle">News</h1>
  
  <div class="rightItem regularButton">
    <a href="<%= url_for :action => :update %>" onclick="this.innerHTML = 'Please Wait...'">Refresh</a>
  </div>
</div>

<div class="content">
  <ul>
    <% if @news.size == 0 %>
      
      <li>You must be connected to the internet. Press refresh to get the latest News.</li>
      
    <% end %>
    
    <% @news.each do |news| %>
    
        <li>
          <a href="<%= url_for :action => :show, :id => news.object %>">
            <span class="title"><%= news.title %></span><span class="disclosure_indicator"></span>
          </a>
        </li>
    
    <% end %>
  </ul>
</div>