<div id="toolbar">
  <div class="leftItem regularButton">
    <%= link_to "Home", RhoConfig::start_path %>
  </div>
  
  <h1 id="pageTitle">News</h1>
  
  <div class="rightItem regularButton">
    <a href="<%= url_for :action => :update %>">Refresh</a>
  </div>
</div>

<div id="content">
  <table>
    <tr>
    <% @news.each do |obj| %>
    	
    	    <td class="recordLabel"><%= link_to "#{obj.title}", :action => :show, :id => obj.object %></td>
    	
    <% end %>
    </tr>
  </table>
</div>